.divInfoPanel {
    text-align: center;
    color: #04408C;
}

.divInfoText {
    text-align: center;
    color: #04408C;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 0px 0px 0px;
}

/*#app-header {
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#f3f6fc),color-stop(100%,#cbdaf0));
    background-image: -webkit-linear-gradient(top,#f3f6fc,#cbdaf0);
    background-image: -moz-linear-gradient(top,#f3f6fc,#cbdaf0);
    background-image: -o-linear-gradient(top,#f3f6fc,#cbdaf0);
    background-image: linear-gradient(top,#f3f6fc,#cbdaf0);
    border-bottom: 1px solid #a3bde5;
    padding: 0px 5px 10px 0px;
    color: #04408c;
}*/
#app-header {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ededed), color-stop(100%, #d3d3d3));
  background-image: -webkit-linear-gradient(top, #ededed, #d3d3d3);
  background-image: -moz-linear-gradient(top, #ededed, #d3d3d3);
  background-image: -o-linear-gradient(top, #ededed, #d3d3d3);
  background-image: linear-gradient(top, #ededed, #d3d3d3);
  border-bottom: 1px solid #bab9b9;
}

#app-header-title {
  padding: 15px 25px 20px 110px;
  background: url(../images/logo_gmp.png) no-repeat 4px 4px;
  color: #333333;
  font-size: 17px;
  font-weight: bold;
  text-shadow: 0 1px 0 gray;
}

/*#app-header-title {
    padding: 15px 25px 20px 110px;
    background: url(../images/logo_gmp.png) no-repeat 4px 4px;
    color: #04408c;
    font-size: 17px;
    font-weight: bold;
    text-shadow: 0 1px 0 gray;
}*/


/*#loginBackground{
    background: url(../images/blu_stripes.png);
}*/

.loginBackground { 
    background: url(../images/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#loginLogo
{
    margin: 5px 5px 5px 5px;
    width: 98px;
    height: 45px;
    background: url(../images/logo_gmp.png) no-repeat;
}

#loginApplicationName{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 0 1px 0 gray;
}

.add {
    background-image:url(../images/add.gif) !important;
}
.option {
    background-image:url(../images/plugin.gif) !important;
}

.edit{
    background-image:url(../images/edit.png) !important;
}

.remove {
    background-image:url(../images/delete.gif) !important;
}
.save {
    background-image:url(../images/blue_save.png) !important;
}
.search {
    background-image:url(../images/search.png) !important;
}
.accept {
    background-image:url(../images/accept.png) !important;
}

.cancel {
    background-image:url(../images/cancel.png) !important;
}

.update {
    background-image:url(../images/update.png) !important;
}

.refresh {
    background-image:url(../images/refresh.png) !important;
}

.print {
    background-image:url(../images/print.png) !important;
    background-repeat: no-repeat;
    background-position: center;
}

.startProgram{
    background-image:url(../images/startProgram.png) !important;
} 

textUppercase{
    text-transform: uppercase;
}

td.checked {
    background-image: url(../images/accept.png) !important;
    background-repeat: no-repeat;
    background-position: center;
}

td.fail{
   background-image: url(../images/cancel.png) !important;
    background-repeat: no-repeat;
    background-position: center;
}

.ux-filtered-column {
    font-style: italic;
    font-weight: bold;
}

.ux-gridfilter-text-icon {
    background-image: url(../images/find.png) !important;
}

.ux-rangemenu-icon {
    display: block;
    height: 16px;
    background: no-repeat 5px center;
}

.ux-rangemenu-gt {
    background-image: url(../images/greater_than.png) !important;
}

.ux-rangemenu-lt {
    background-image: url(../images/less_than.png) !important;
}

.ux-rangemenu-eq {
    background-image: url(../images/equals.png) !important;
}

.calendar {
    background-image:url(../images/calendar.png) !important;
}

.viewDetail {
    background-image:url(../images/view_detail.png) !important;
}

.addDetail{
    background-image:url(../images/addDetail.png) !important;
}

.config{
    background-image:url(../images/config.png) !important;
}

.sync{
    background-image:url(../images/sync.png) !important;
}

.login{
    background-image:url(../images/login.png) !important;
}

.signIn{
    background-image:url(../images/sign-in.png) !important;
}

.doorIn{
    background-image:url(../images/door-in.png) !important;
}

.clear{
    background-image:url(../images/clear.png) !important;
}

.clean{
    background-image:url(../images/clean.png) !important;
}

.required{
    font-weight: bold;
    color:red;
}

.alert {
    font-size: 11px;
    font-weight: bold;
    color: #9F6000;
}

.upload {
    background-image:url(../images/upload.png) !important;
}
.execute {
    background-image:url(../images/execute.png) !important;
}

.generateOrder {
    background-image:url(../images/generate_order.png) !important;
}
.listOrder {
    background-image:url(../images/list_work_order.png) !important;
}
.deleteFile {
    background-image:url(../images/deletefile.png) !important;
}
.download{
    background-image:url(../images/download.png) !important;
}
.reschedule{
    background-image:url(../images/reschedule.png) !important;
}

.approve{
    background-image:url(../images/approve.png) !important;
}
.statusHistoryPt{
    background-image:url(../images/status_history_pt.png) !important;
}

.error{
    background-image:url(../images/error.png) !important;
    background-repeat: no-repeat;
    background-position: center;
}

.hyperlink {
    background-image:url(../images/hyperlink.png) !important;
}

.notapprove{
    background-image:url(../images/notapprove.png) !important;
    background-repeat: no-repeat;
    background-position: center;
}

.attach {
    background-image:url(../images/attach.png) !important;
}

.browse {
    background-image:url(../images/browse.png) !important;
}

.alertCalendar{
    background-image:url(../images/alertCalendar.png) !important;
    background-repeat: no-repeat;
    background-position: center;
}
/*.homeImage {
    opacity: 0.5;
}*/
.browserCompatibility {
    color: #367FC1;
    font-weight: bold;
    font-style: italic;
    font-size: 12px;
    /*background-color: #FBD00A;*/
/*    background-image: url('../images/chrome_16_16.png');
    background-repeat: no-repeat;*/
    padding: 10px;
    text-align: center;
}

.menu {
    background-image:url(../images/menu.png) !important;
}

.entity {
    background-image:url(../images/entity.png) !important;
}

.statusBarLabel {
    font-weight: bold;
    font-size: 12px;
    padding: 2px 5px 2px 5px;
}

.dollar {
    background-image:url(../images/dollar.png) !important;
}

.generateMoreOrders {
    background-image:url(../images/generate_more_orders.png) !important;
}

.tools {
    background-image:url(../images/tools.png) !important;
}